<div class="level-container">
	<h2>Security</h2>

	<div class="security-level">
		<div class="security-level__step security-level__step--done"></div>
		<div class="security-level__step" [ngClass]="{'security-level__step--done':account.privateKeySaved || account.brainKeySaved}"></div>
		<div class="security-level__step" [ngClass]="{'security-level__step--done':account.privateKeySaved && account.brainKeySaved}"></div>
	</div>
</div>

<div class="alert-container">
	<img src="assets/images/alert.svg">
	<p>You have to backup your recovery phrase. It is strongly recommended to store the backup copies in physically separate, offline environment. If someone were to find your recovery phrase they could access your wallet.</p>
</div>

<div class="security">
	<div class="security__item">
		<h3 class="security__item__name">Email:</h3>
		<div class="security__item__inner security__item__inner--email">{{account.email}}</div>
		<div class="security__item__status">
			<div class="icon-done"></div>
		</div>
	</div>
	<div class="security__item">
		<h3 class="security__item__name">
			<span>Address:</span>
			<img src="assets/images/question.svg" matTooltip="Public key is your address to receive tokens." matTooltipPosition="after"/>
		</h3>
		<div class="security__item__inner security__item__inner--address">
			<div>
				<span>{{account.address}}</span>
				<img (click)="copy()" src="assets/images/copy.svg">
			</div>
		</div>
	</div>
	<div class="security__item">
		<h3 class="security__item__name">
			<span>Private Key:</span>
			<img src="assets/images/question.svg" matTooltip="If someone were to find your private key they could access your wallet." matTooltipPosition="after"/>
		</h3>
		<div class="security__item__inner security__item__inner--private-key">
			<div class="input-wrapper">
				<input type="password" readonly value="your private key could be here but it wouldn't make sense">
				<div class="input-wrapper__suffix" (click)="backupPrivateKey(false)">
					<img src="assets/images/eye.svg"/>
				</div>
				<div class="input-wrapper__shadow"></div>
			</div>
			<button class="button button--primary button--upper" *ngIf="!account.privateKeySaved" (click)="backupPrivateKey(true)">Backup</button>
		</div>
		<div class="security__item__status" *ngIf="account.privateKeySaved">
			<div class="icon-done"></div>
		</div>
	</div>
	<div class="security__item">
		<h3 class="security__item__name">
			<span>Recovery Phrase:</span>
			<img src="assets/images/question.svg" matTooltip="If someone were to find your recovery phrase they could access your wallet." matTooltipPosition="after"/>
		</h3>
		<div class="security__item__inner security__item__inner--private-key">
			<div class="input-wrapper">
				<input type="password" readonly value="your recovery phrase could be here but it wouldn't make sense">
				<div class="input-wrapper__suffix" (click)="backupRecoveryPhrase(false)">
					<img src="assets/images/eye.svg"/>
				</div>
				<div class="input-wrapper__shadow"></div>
			</div>
			<button class="button button--primary button--upper" *ngIf="!account.brainKeySaved" (click)="backupRecoveryPhrase(true)">Backup</button>
		</div>
		<div class="security__item__status" *ngIf="account.brainKeySaved">
			<div class="icon-done"></div>
		</div>
	</div>
</div>