h2 {
	text-transform: uppercase;
	color: #1F2742;
	margin: 0 0 27px;
}

.descr {
	color: #8A8FA5;
	margin: 0 0 27px;
}

textarea {
	width: 100%;
	margin: 0 0 20px 0;
}

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 20px;
}