<!--<h2>Create EVE Wallet</h2>
<p class="descr">Enter your email to create new wallet</p>

<div class="input-wrapper">
	<input type="email" placeholder="Enter your email">
	<div class="input-wrapper__suffix">
		<button class="button button--primary button--upper">Request</button>
	</div>
	<div class="input-wrapper__shadow"></div>
</div>

<p class="terms">By registering you agree to our <a href="#">Terms & Conditions</a></p>

<p class="error-message">Passwords do not match</p>-->

<h2>Please check your email to access your secure link.</h2>

<div class="input-wrapper">
	<input type="email" placeholder="Enter your email">
	<div class="input-wrapper__suffix">
		<div class="button button--primary button--upper done">
			<!-- <span>Request</span> -->
			<img src="assets/images/checkmark.svg" alt="">
		</div>
	</div>
	<div class="input-wrapper__shadow"></div>
</div>

<p class="terms">By registering you agree to our <a href="#">Terms & Conditions</a></p>

<p class="error-message">Passwords do not match</p>