<h2>Receive {{token == 'eveg'?  'EVEG' : 'EVEO'}}</h2>
<div class="receive-section">
	<div>
		<div class="public-key-wrapper">
			<div class="public-key">{{address}}</div>
			<img src="assets/images/copy.svg" (click)="copy()">
		</div>
		<p class="description">Your address can also be known as you <b>public key</b>. It is what you share with people so they can send you tokens.</p>
	</div>
	<img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{address}}&choe=UTF-8&chld=L|1" alt="">
</div>
<form novalidate (ngSubmit)="transfer()" [formGroup]="transferForm">
<div class="transfer-section">
	<h2>Transfer {{token == 'eveg'?  'EVEG' : 'EVEO'}}</h2>
	<p class="description">Send {{token == 'eveg'?  'EVEG' : 'EVEO'}}s to the recepient's account.</p>

	<label>{{token == 'eveg'?  'EVEG' : 'EVEO'}} Amount</label>
	<input type="text" placeholder="{{token == 'eveg'?  'EVEG' : 'EVEO'}}" formControlName="amount">
	<p class="error-message" *ngIf="amountErrorMessage" fxLayout="row" [innerHTML]="amountErrorMessage"></p>

	<label>Recepient address</label>
	<input type="text" placeholder="Enter address" formControlName="address">
	<p class="error-message" *ngIf="transferForm.controls['address'].errors && transferForm.controls['address'].errors.invalidAddress">Invalid address</p>

	<label class="transaction-fee">Gas price</label>
	<input type="number" formControlName="gasPrice">
	
	<button class="button button--primary button--upper" [disabled]="transferForm.invalid" (click)="generateTransaction()">Generate transaction</button>
</div>	
</form>


<div class="hline"></div>

<div class="history-section">
	<h2>History</h2>
	<div *ngIf="token == 'eveg'" >
		<div class="transaction" *ngFor="let action of evegTransactions">
		<div class="transaction__first-col">
			<h3 class="transaction__type transaction__type--received" *ngIf="action.toAddress == this.address">Received</h3>
			<h3 class="transaction__type transaction__type--sent" *ngIf="action.fromAddress == this.address">Sent</h3>
			<h3 class="transaction__amount">{{action.amount}} EVEG</h3>
		</div>
		<div class="transaction-data">
			<div class="transaction-data__peer">
				<small *ngIf="action.fromAddress == this.address">Payment to</small>
				<small *ngIf="action.toAddress == this.address">Payment from</small>
				<span *ngIf="action.fromAddress == this.address">{{action.toAddress}}</span>
				<span *ngIf="action.toAddress == this.address">{{action.fromAddress}}</span>
			</div>
			<div class="transaction-data__date">
				<b>{{getHours(action.timestamp*1000)}}</b>
				<span>{{getDate(action.timestamp*1000)}}</span>
			</div>
		</div>
	</div>	
	</div>
	<div *ngIf="token == 'eveo'" >
		<div class="transaction" *ngFor="let action of eveoTransactions">
		<div class="transaction__first-col">
			<h3 class="transaction__type transaction__type--received" *ngIf="action.toAddress == this.address">Received</h3>
			<h3 class="transaction__type transaction__type--sent" *ngIf="action.fromAddress == this.address">Sent</h3>
		
			<h3 class="transaction__amount">{{action.amount}} EVEO</h3>
		</div>
		<div class="transaction-data">
			<div class="transaction-data__peer">
					<small *ngIf="action.fromAddress == this.address">Payment to</small>
					<small *ngIf="action.toAddress == this.address">Payment from</small>
					<span *ngIf="action.fromAddress == this.address">{{action.toAddress}}</span>
					<span *ngIf="action.toAddress == this.address">{{action.fromAddress}}</span>
			</div>
			<div class="transaction-data__date">
					<b>{{getHours(action.timestamp)}}</b>
					<span>{{getDate(action.timestamp)}}</span>
				</div>
		</div>
	</div>
	</div>
	
</div>
