h2 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 4px;
}

p.description {
	font-size: 14px;
	line-height: 17px;
	color: #8A8FA5;
	margin: 0 0 36px;
}

.public-key {
	width: 100%;
	min-height: 36px;
	border: 1px solid rgba(#323044, .5);
	border-radius: 8px;
	padding: 5px 6px 5px 10px;
	display: inline-flex;
	align-items: center;

	span {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		flex: 1;
		overflow: hidden;
		display: inline-block;
	}

	img {
		flex: 0 0 24px;
		height: 24px;
		margin-left: 3px;
		cursor: pointer;
	}
}

input[type="password"] {
	width: 100%;
	margin: 0 0 35px;
}

label {
	display: inline-block;
	margin: 15px 0;

	input {
		vertical-align: middle;
		margin-right: 8px;
	}
	span {
		user-select: none;
		vertical-align: middle;
	}
}
