<h2>Create Password</h2>
<p class="descr">This password encrypts your Private Key and gives you access to your wallet</p>
<form novalidate (ngSubmit)="change()" [formGroup]="passwordForm">
  <input type="password" placeholder="Password" formControlName="password">
  <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
  <div class="buttons-container">
    <button class="button button--fat button--upper" type="submit" [disabled]="passwordForm.untouched && passwordForm.controls['password'].value !== '' && passwordForm.controls['confirmPassword'].value !== ''">Log in</button>
  </div>
  <p class="error-message" *ngIf="passwordForm.errors && passwordForm.errors.invalidConfirmPassword && loginType">Passwords do not match</p>
  <p *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].touched && passwordForm.controls['password'].value !== '' && loginType" class="error-message">
	Password must be at least 10 characters long, contain UPPERCASE and  lowercase letters, a number or a symbol
  </p>
</form>
