<h2>Recovery Phrase</h2>

<div class="alert-container">
	<img src="assets/images/alert.svg">
	<p>This is only way to reset your password!<br/>Your PBG tokens cant’s be recovered without it</p>
</div>

<div class="recovery-phrase">
{{brainKey}}</div>

<p class="recovery-phrase-text">It is strongly recommended that you store backups of your recovery phrase in physically separate, offline environment. Do not share it with anyone else.</p>

<div class="buttons">
	<button class="button button--primary button--fat button--upper" (click)="recover()">Ok</button>
	<button class="button button--upper button--fat" (click)="later()">Later</button>
</div>