
<h2>{{'wallet.recovery_phrase' | translate}}</h2>

<div class="alert-container">
	<img src="assets/images/alert.svg">
	<p>{{'wallet.only_way' | translate}}<br/>{{'wallet.cant_recovered' | translate}}</p>
</div>

<div class="recovery-phrase" class="notranslate">
{{brainKey}}</div>

<p class="recovery-phrase-text">{{'wallet.strongly_recomended' | translate}}</p>

<div class="buttons">
	<button class="button button--primary button--fat button--upper" (click)="recover()">{{'wallet.ok' | translate}}</button>
	<button class="button button--upper button--fat" (click)="later()">{{'wallet.later' | translate}}</button>
</div>