<div class="user-page">
	<div class="container">
		<div class="header">
			<span></span>

			<div class="menu">
				<div class="menu-items" [ngClass]="{'menu-items--open': menuOpen}">
					<a (click)="settings()">Security</a>
					<a (click)="signout()">Sign out</a>
				</div>
				<div class="menu__icon" (click)="toggleMenu()">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<div class="wallet">
			<div class="wallet-card a" [ngClass]="{'wallet-card--active':active == 'eveg'}" (click)="setActive('eveg')">
				<div class="wallet-card__inner wallet-card__inner--silver">
					<img src="assets/images/eveg.svg" alt="">
					<div class="wallet-card__name">
						<h3>EVEG</h3>
						<h4>2.56<small>EVEG</small></h4>
					</div>
				</div>
			</div>
			<div class="wallet-card b" [ngClass]="{'wallet-card--active':active == 'eveo'}" (click)="setActive('eveo')">
				<div class="wallet-card__inner wallet-card__inner--gold">
					<img src="assets/images/eveo.svg" alt="">
					<div class="wallet-card__name">
						<h3>EVEO</h3>
						<h4>1.35<small>EVEO</small></h4>
					</div>
				</div>
			</div>
			<div class="wallet-inner">
				<router-outlet></router-outlet>
			</div>
		</div>
		<div class="footer">
			© 2019 EVE
		</div>
	</div>
</div>