.user-page {
	background: linear-gradient(135deg, #191925 0%, #122042 100%);
	min-height: 100vh;
}

.container {
	max-width: 872px + 15px * 2;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.header {
	height: 60px;
}

.footer {
	height: 60px;
}

.wallet {
	width: 100%;
}

.wallet-card {
	position: relative;
	display: inline-block;
	width: 50%;
	padding: 8px;
	border-radius: 8px 8px 0 0;

	&--active {
		cursor: default;
		background: #ffffff;

		.wallet-card__inner { cursor: default; }

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			background: #ffffff;
			width: 100%; height: 8px;
			left: 0; bottom: -8px;
		}
	}

	&__inner {
		width: 100%;
		padding: 30px 36px;
		background: #ffffff;
		border-radius: 20px;
		display: inline-flex;
		align-items: center;
		color: #ffffff;
		cursor: pointer;

		img {
			border-radius: 50%;
		}

		&--silver { background-image: linear-gradient(270deg, #E1E2E3 0%, #6C6B6B 100%); }
		&--gold   { background-image: linear-gradient(270deg, #FACD78 0%, #DF8E2E 100%); }
	}

	&__name {
		margin-left: 8px;
		h3 {
			font-size: 28px;
			line-height: 36px;
		}
		h4 {
			font-size: 24px;
			line-height: 32px;

			small {
				font-size: 16px;
				margin-left: 4px;
			}
		}
	}

	@media (max-width: 576px) {
		&__inner {
			justify-content: center;
		}
		&__name {
			display: none;
		}
	}
}

.wallet-inner {
	min-height: 120px;
	background: #ffffff;
	border-radius: 8px;
	padding: 52px 44px;

	@media (max-width: 767px) {
		padding: 52px 15px;
	}
}
