<div class="auth">
        <div class="auth-col auth-col--light">
            <div class="text-right" routerLink="{{title == 'login' ? 'register' : 'login'}}">
                <div class="button button--primary button--upper">
                    <span>{{(title == 'login' ? 'user.create' : 'user.login') | translate}}</span>
                </div>
            </div>
    
            <div class="auth-col__inner">
                <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
            </div>
        </div>
        <div class="auth-col auth-col--dark">
            <h1><b>EVE</b>Wallet</h1>
            <img src="assets/images/login-illustration.svg" alt="">
        </div>
    </div>