<div class="auth">
        <div class="auth-col auth-col--light">
            <div class="text-right">
                <div class="button button--primary button--upper" routerLink="{{title == 'login' ? 'register' : 'login'}}">
                    <span>{{(title == 'login' ? 'user.create' : 'user.login') | translate}}</span>
                </div>
            </div>
            <div class="auth-col__logo">
                <img src="assets/images/eveg@2x.svg"/>
                <img src="assets/images/eveo@2x.svg"/>
            </div>
            <div class="auth-col__inner">
                <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
            </div>
        </div>
        <div class="auth-col auth-col--dark">
            <div class="logos">
                <img src="assets/images/eveg@2x.svg"/>
                <img src="assets/images/eveo@2x.svg"/>
                <h1>Wallet</h1>
            </div>
            <img src="assets/images/{{title === 'reset-password' ? 'reset' : 'login'}}-illustration.svg" alt="">
            <p class="copyright">© 2019 everyone</p>
        </div>
    </div>