<div class="auth">
        <div class="auth-col auth-col--light">
            <div class="text-right">
                <div class="button button--primary button--upper" routerLink="login">
                    <span>Log in</span>
                </div>
            </div>
    
            <div class="auth-col__inner">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="auth-col auth-col--dark">
            <h1><b>EVE</b>Wallet</h1>
            <img src="assets/images/login-illustration.svg" alt="">
        </div>
    </div>