h2 {
	text-transform: uppercase;
	color: #1F2742;
	margin: 0 0 4px;
}

.descr {
	color: #8A8FA5;
	margin: 0 0 36px;
}

input {
	width: 100%;
	margin: 0 0 20px 0;
}

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 20px;

	.button {
		padding: 16px 32px;
	}

	a {
		font-weight: 600;
	}

	@media (max-width: 576px) {
		flex-direction: column;

		.button {
			width: 100%;
			margin: 0 0 25px;
		}
	}
}