h2 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0 0 24px;
}

p.description {
	font-size: 16px;
	line-height: 17px;
	color: #8A8FA5;
	margin: 0 0 25px;
}

.words {
	display: flex;
	margin: 0 -7px;

	&__word {
		flex: 1;
		padding: 0 7px;
		
		input {
			width: 100%;
			font-weight: 700;
		}
		small {
			display: block;
			text-align: center;
			text-transform: uppercase;
			color: #8A8FA5;
			font-size: 12px;
			line-height: 17px;
			margin: 8px 0 0;
		}
	}
}

.buttons {
	margin: 35px 0 0;

	a {
		margin-left: 25px;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}
}

@media (max-width: 768px) {

	.buttons {
		.button { width: 100%; }
		a {
			display: block;
			text-align: center;
			margin: 25px 0 0;
		}
	}
}

@media (max-width: 576px) {
	.words {
		margin: 0;
		flex-direction: column;

		&__word {
			padding: 0;
			margin: 0 0 15px;
		}
	}
}
